<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <div >
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <div formGroupName="userData">
            <div class="form-group">
              <label for="username" class="mt-5">Username</label>
              <input
                type="text"
                id="username"
                class="form-control"
                formControlName="username">
                <!-- <span *ngIf="!username?.valid && username?.dirty">Please enter a valid username</span> -->
                <span class="help-text" *ngIf="!username?.valid && username?.touched">Please enter a valid username!</span>
            </div>
            <div class="form-group mt-2">
              <label for="email">email</label>
              <input
                type="text"
                id="email"
                class="form-control mb-2"
                formControlName="email">
                <!-- <span *ngIf="!email?.valid && email?.dirty">Please enter a valid email address</span> -->
                <span class="help-text" *ngIf="!email?.valid && email?.touched">Please enter a valid email address!</span>
            </div>
          </div>
          <div class="radio mt-2 mb-3" *ngFor="let gender of genders">
            <label>
              <input
                type="radio"
                [value]="gender"
                formControlName="gender">{{ gender }}
            </label>
          </div>
          <!-- <span *ngIf="!signupForm?.valid && signupForm.dirty" class="help-text mt-2">Please enter valid data</span> -->
          <span class="help-text mt-2" *ngIf="!signupForm?.valid && signupForm.touched">Please enter valid data!</span>
          <div><button class="btn btn-primary mt-3" type="submit">Submit</button></div>
        </form>
      </div>
    </div>
  </div>
</div>
